body{
    background-color: #fff;

}

.first {
    
}

.logo {
    background-color: yellow;
    display: inline-block;
    float: left;
    width: 200px;
    height: 10px;
    padding: 25px 25px;

}
.header {
    background-color: rgb(195, 0, 255);
    display: inline-block;
    float: left;
    width: 600px;
    height: 10px;
    margin-left: 0.2%;
    padding: 25px 25px;

}
.t {
    display: inline;
    padding: 50%;
    
}
.th {
    display: inline-block;
}

.sidebar{ background-color: rgb(2, 92, 2);
    float: left;
    display: inline-block;
    width: 200px;
    height: 180px;
    margin-left: 0.0%;
    padding: 25px 25px;}

.promo{background-color: blue;
    float: left;
    display: inline-block;
    width: 330px;
    height: 10px;
    margin-left: 0.2%;
    padding: 25px 25px;}

.article{background-color: gray;
    float: left;
    display: inline-block;
    width: 215px;
    height: 10px;
    margin-left: 0.2%;
    padding: 25px 25px;}

    
     .th {display:inline;
    padding: 70%;}


    .news {
        background-color: rgb(207, 53, 53);
        
    float: left;
    display: inline-block;
    width: 200px;
    height: 10px;
    margin-left: 0.2%;
    padding: 25px 25px;


    }

    .content {
        background-color: peru;
        
        float: left;
        display: inline-block;
        width: 85px;
        height: 17px;
        margin-left: 0.2%;
        padding: 70px 25px;
    }
    .art {background-color: orange;
        float: left;
        display: inline-block;
        width: 210px;
        height: 10px;
        margin-left: 0.2%;
        padding: 25px 25px;}

      

        .ads {
            background-color: rgb(207, 53, 53);
        
            float: left;
            display: inline-block;
            width: 190px;
            height: 20px;
            margin-left: 180%;
            padding: 25px 40px 10px 30px;

        }
        .articlee{
            background-color: green;
        float: left;
        display: inline-block;
        width: 180px;
        height: 20px;
        margin-right: 35%;
        padding: 25px 83px 20px 0px;
        top: 20px;
     } 

       
    
    
     .article-d{
        position: absolute;
        width:180px;
        height: 35px;
        background-color:#fff;
        display: inline-block;
        padding: 10px;
        margin: 10px;
        
        float: left;
        bottom: 700px;  
    }
    .ads{
        width: 225px;
        height: 35px;
        background-color:rgb(190, 58, 122);
        display:inline-block;
        float: left;
        position: relative;
        top:54px ;
        right:670px;
        
        padding: 12px;
        margin: 20px;
    }


        

        
    